.header{
    background-color: #050505;
    transition: all 1.5s;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    left: 0;
    align-content: center;
    align-items: center;
    z-index: 110;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 35px;
}